<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Persoana</a></li>
            <li><a href="#">Oras</a></li>
			<li><a href="#">Film</a></li>
			<li><a href="#">Produs</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
    </div>
  </div>

  <hr/>

  <!-- /Persoana -->
  <div class="container" ng-controller="HomeController">
    <h1>Persoana</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in persoane.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.nume }}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdatePerson(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deletePersoana(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new person</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="person.id"/></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" class="form-control" ng-model="person.nume"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addPersoana(person)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit a person</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editPerson.id"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" ng-model="editPerson.nume"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updatePerson()">
            Update
          </button>
        </td>
      </tr>
    </table>
	 </div>

	<script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>

	 <hr/>

  <!-- /City-->
  <div class="container" ng-controller="OrasController">
    <h1>Orase</h1>
    <h2>List all Cities</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="or in oras.data" data-id="{{ oras.id }}">
        <td>{{ or.id }}</td>
        <td>{{ or.nume }}</td>
		<td>{{ or.judet }}</td>
		<td>{{ or.loc }}</td>
		
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateO(or)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteOras(or.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new Oras</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="o.id"/></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="o.nume"/></td>
      </tr>
      <tr>
	   <td>Judet</td>
        <td><input type="text" class="form-control" ng-model="o.judet"/></td>
      </tr>
      <tr>
	   <td>Locuitori</td>
        <td><input type="text" class="form-control" ng-model="o.loc"/></td>
      </tr>
      <tr>
        <td colspan="5">
          <button ng-click="addOras(o)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit Oras</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editO.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editO.nume"></td>
      </tr>
      <tr>
	  <td>Judet</td>
        <td><input type="text" ng-model="editO.judet"></td>
      </tr>
      <tr>
	  <td>Locuitori</td>
        <td><input type="text" ng-model="editO.loc"></td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="btn btn-info btn-xs" ng-click="updateO()">
            Update
          </button>
        </td>
      </tr>
    </table>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>

  <hr/>
  
    <!-- /Film-->
  <div class="container" ng-controller="FilmController">
    <h1>Filme</h1>
    <h2>List all Moovies</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="fi in film.data" data-id="{{ film.id }}">
        <td>{{ fi.id }}</td>
        <td>{{ fi.nume }}</td>
		<td>{{ fi.categorie }}</td>
		<td>{{ fi.pret }}</td>
		
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateF(fi)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteFilm(fi.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new Moovie</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="f.id"/></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="f.nume"/></td>
      </tr>
      <tr>
	   <td>Categorie</td>
        <td><input type="text" class="form-control" ng-model="f.categorie"/></td>
      </tr>
      <tr>
	   <td>Pret</td>
        <td><input type="text" class="form-control" ng-model="f.pret"/></td>
      </tr>
      <tr>
        <td colspan="5">
          <button ng-click="addFilm(f)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit Moovie</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editF.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editF.nume"></td>
      </tr>
      <tr>
	  <td>Categorie</td>
        <td><input type="text" ng-model="editF.categorie"></td>
      </tr>
      <tr>
	  <td>Pret</td>
        <td><input type="text" ng-model="editF.pret"></td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="btn btn-info btn-xs" ng-click="updateF()">
            Update
          </button>
        </td>
      </tr>
    </table>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  
  
  <hr/>
  
  
      <!-- /Product-->
  <div class="container" ng-controller="ProdusController">
    <h1>Produs</h1>
    <h2>List all Products</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="pr in prod.data" data-id="{{ prod.id }}">
        <td>{{ pr.id }}</td>
        <td>{{ pr.nume }}</td>
		<td>{{ pr.categorie }}</td>
		<td>{{ pr.stoc }}</td>
		
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateP(pr)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteProd(pr.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new Product</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="p.id"/></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" class="form-control" ng-model="p.nume"/></td>
      </tr>
      <tr>
	   <td>Categorie</td>
        <td><input type="text" class="form-control" ng-model="p.categorie"/></td>
      </tr>
      <tr>
	   <td>Stoc</td>
        <td><input type="text" class="form-control" ng-model="p.stoc"/></td>
      </tr>
      <tr>
        <td colspan="5">
          <button ng-click="addProd(p)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit Product</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editP.id"></td>
      </tr>
      <tr>
        <td>Nume</td>
        <td><input type="text" ng-model="editP.nume"></td>
      </tr>
      <tr>
	  <td>Categorie</td>
        <td><input type="text" ng-model="editP.categorie"></td>
      </tr>
      <tr>
	  <td>Stoc</td>
        <td><input type="text" ng-model="editP.stoc"></td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="btn btn-info btn-xs" ng-click="updateP()">
            Update
          </button>
        </td>
      </tr>
    </table>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
